@model IEnumerable<GestaoBeleza.Models.HistoricoQuimico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataUltimoServicoRealizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspecificacoesDosServicos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RespectivosProfissionais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuimicaUtilizada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataUltimoServicoRealizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspecificacoesDosServicos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RespectivosProfissionais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuimicaUtilizada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HistoricoQuimicoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HistoricoQuimicoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HistoricoQuimicoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
