@model GestaoBeleza.Models.InformacaoTecnica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InformacaoTecnica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeCabelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeCabelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Textura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Textura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Densidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Densidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porosidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porosidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Elasticidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Elasticidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CondicaoCouroCabeludo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CondicaoCouroCabeludo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricoQuimico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoricoQuimico.HistoricoQuimicoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InformacaoTecnicaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
